

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    margin: 0;
    padding: 0;
    /*border: dotted 1px #ff6600;*/
    
}

.imgg {
    height:200px;
    width: 100%;
}

body{
    widows: 2000px;
    text-align: left;
    background-color: #666666;
    
}

h1 {
    font-size: 20px;
    padding: 10px 20px;
}

h2 {
    font-size: 14px;
    background-image: url(img/IMG_4603.JPG);
    color: #ffffff;
    padding: 5px 5px 5px 10px;
    margin: 20px 0px;
}

ul {
    list-style-type: none;
    margin: 10px 5px 20px 5px;
    line-height: 2rem;    
}

li {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-image: url(img/) ;/*本当は小さいチェック画像を貼る*/
    background-position: 2px 45px;
}

table,th,td {
    border: solid 1px #666666;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    margin: 10px 5px 20px 5px;    
}

th,td {
    text-align: left;
}

.container {
    width: 704px;
    margin: 0 auto 0;
    text-align: center;
    background-color: #ffffff    
}
.contents {
    width: 700px;
    margin: 0 auto 0; 
    background-color: #ffffff;
    text-align: left;
}

.main {
    width: 500px;
    padding: 0px 15px 20px 0px;
    float: right;
}

.side {
    width: 160px;
    padding: 10px 10px 0px 10px; 
}

.footer {
    background-color: #999999;
    padding: 10px;
    text-align: center;
    clear: both;
}

.footer p {
    color:#ffffff;
}

.side h2 {
    background-image: none;
    background-color: #999999;
    padding: 5px 5px 5px 10px;
    margin:10px 0 0 0;
}

.side ul {
    list-style-type: none;
    margin-bottom: 20px;
    line-height: 2em;
}

.side li {
    padding: 5px 5px 5px 20px;
    background-image: url(img); /*本当は小さい矢印の画像*/
    background-repeat: no-repeat;
    background-position: 5px 12px;
    border-bottom: 1px #666666 dotted;
    
}


.link:link {
    text-decoration: none;
    color: #0000ff;
    box-shadow:
    
}

.link:visited {
    text-decoration: none;
    color: #0000ff;
}

.link:hover {
    text-decoration: underline;
    color: #ff6600:    
}

.link:active {
    text-decoration: underline;
    color: #0000ff;    
}

a:hover {
    color: #ff6600: 
}
